<h1>Weapons#index</h1>

<% @weapons.each do |weapon| %>
  <p><%= weapon.name %></p>
<% end %>

<% @weapons.each do |weapon| %>
  <p><%= weapon.title %></p>
<% end %>

<p>Find me in app/views/weapons/index.html.erb</p>
